{"filter":false,"title":".gitignore","tooltip":"/Progate_java/java5/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[[{"start":{"row":0,"column":8},"end":{"row":1,"column":12},"action":"remove","lines":["","/Main.class/"],"id":2}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":12},"end":{"row":1,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1617690438594,"hash":"e58d041e3a9ea873970e97753d3cc98c19b824bd"}