{"filter":false,"title":".gitignore","tooltip":"/Progate_java/java5/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":8},"end":{"row":1,"column":12},"action":"remove","lines":["","/Main.class/"],"id":3}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":8},"end":{"row":0,"column":8},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1617690507118,"hash":"c9db9143737648ce72348eb0b46601d5a08c08a2"}